<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="offset-md-1 col-md-2">
        <h5>Adresse:</h5>
        <ul>
          <li>Bernstrasse 26a</li>
          <li>6152 Hüswil</li>
        </ul>
      </div>
      <div class="offset-md-1 col-md-2">
        <h5>Angebote</h5>
        <ul>
          <!-- <li>Ankauf</li> -->
          <!-- redirect contact to the contact component -->
          <li><a href="/contact">Kontakt</a></li>

        </ul>
      </div>
      <div class="offset-md-1 col-md-2">
        <h5>Rechtliche Hinweise:</h5>
        <ul>
          <li><a href="/agb">ABG</a></li>
          <li><a href="/impressum">Impressum</a></li>
          <li><a href="/datenschutz">Datenschutz</a></li>
          <li><a href="/rechtliche-hinweise">Rechtliche Hinweise</a></li>
        </ul>
      </div>
      <div class="offset-md-1 col-md-2">
        <h5>Öffnungszeiten:</h5>
        <p>Mo - Sa: <br>
          09:00 - 12:00 Uhr <br>
          13:00 - 18:00 Uhr</p>
      </div>
    </div>
  </div>
</footer>
