<app-header></app-header>

<div class="outer-container">
    <div class="impressum-container">
      <h1>Impressum</h1>
    
      <div class="section">
        <p><strong>PremiumCars GmbH</strong><br>Bernstrasse 26a <br>6152 Hüswil <br> 078 317 98 22</p>
      </div>
  
      <div class="section">
        <p>Tel.: 078 317 98 22</p>
      </div>
  
      <div class="section">
        <p>Firmennummer: CHE-165.640.300</p>
        <p>Gerichtsstand: Hüswil</p>
      </div>
  
      <div class="section">
        <p>Die Verwendung der Kontaktdaten des Impressums zur gewerblichen Werbung ist ausdrücklich nicht erwünscht, es sei denn Premium Cars hatte zuvor seine schriftliche Einwilligung erteilt oder es besteht bereits eine Geschäftsbeziehung.</p>
      </div>
  
      <div class="section">
        <p>Konzept, Design und technische Realisierung:</p>
      </div>
    </div>
  </div>
  