<app-header></app-header>

<main class="main-content">
  <div class="contact-section">
    <h1>Kontakt</h1>
    <div class="contact-info">
      <p>Für weitere Informationen über unsere Fahrzeuge, Service oder Probefahrten, kontaktieren Sie uns! Wir engagieren uns, damit wir auch ihre Träume erfüllen.</p>
      <p><strong>PremiumCars GmbH</strong><br>Bernstrasse 26a <br>6152 Hüswil <br> 078 317 98 22</p>

      

    </div>
    <div class="contact-info">
      <h2>Öffnungszeiten</h2>
      <p>Mo - Sa<br>09:00 - 12:00 / 13:00 - 18:00</p>
    </div>
    <div class="contact-info">
      <h2>Unsere Lage</h2>
      <iframe
      width="100%"
      height="450"
      frameborder="0"
      style="border:0"
      src="https://www.google.com/maps/embed/v1/place?q=Bernstrasse%2026a,%206152%20Hüswil&key=AIzaSyDshN1cSgXIowGywYTdjuM58lBw3TebyXo"
      allowfullscreen>
    </iframe>
    </div>
  </div>
</main>
