<app-header></app-header>

<div class="outer-container">
    <div class="agb-container">
      <h1>Allgemeine Geschäftsbedingungen (AGB)</h1>
  
      <div class="section">
        <h2>1. Geltungsbereich</h2>
        <p>Diese Allgemeinen Geschäftsbedingungen (AGB) gelten für alle Verträge, die zwischen Premium Cars und ihren Kunden abgeschlossen werden.</p>
      </div>
  
      <div class="section">
        <h2>2. Vertragspartner</h2>
        <p>Der Kaufvertrag kommt zustande mit Premium Cars, vertreten durch Herrn Sugi KA, Dorfstrasse 176, CH - 4623 Neuendorf (SO).</p>
      </div>
  
      <div class="section">
        <h2>3. Vertragsabschluss</h2>
        <p>Durch die Bestellung der gewünschten Waren durch Ausfüllen und Absenden des Online-Formulars gibt der Kunde ein verbindliches Angebot zum Abschluss eines Kaufvertrages ab.</p>
      </div>
  
      <div class="section">
        <h2>4. Preise und Zahlung</h2>
        <p>Alle angegebenen Preise sind Endpreise in Schweizer Franken (CHF). Die Zahlung erfolgt per Überweisung auf das folgende Konto:</p>
        <p>Raiffeisenbank Gäu-Bipperamt | 4622 Egerkingen</p>
        <p>IBAN CHF: CH92 8091 2000 0039 3397 0</p>
      </div>
  
      <div class="section">
        <h2>5. Lieferung</h2>
        <p>Die Lieferung erfolgt an die vom Kunden angegebene Adresse. Lieferzeiten sind abhängig von der Verfügbarkeit der Ware und werden dem Kunden vor Abschluss des Vertrages mitgeteilt.</p>
      </div>
  
      <div class="section">
        <h2>6. Eigentumsvorbehalt</h2>
        <p>Die Ware bleibt bis zur vollständigen Zahlung des Kaufpreises im Eigentum von Premium Cars.</p>
      </div>
  
      <div class="section">
        <h2>7. Gewährleistung</h2>
        <p>Es gelten die gesetzlichen Gewährleistungsbestimmungen. Der Kunde hat Mängel unverzüglich an Premium Cars zu melden.</p>
      </div>
  
      <div class="section">
        <h2>8. Haftung</h2>
        <p>Premium Cars haftet nicht für Schäden, die durch unsachgemäße Verwendung der Ware entstanden sind.</p>
      </div>
  
      <div class="section">
        <h2>9. Schlussbestimmungen</h2>
        <p>Änderungen oder Ergänzungen dieser AGB bedürfen der Schriftform. Gerichts
  