<app-header></app-header>

<main class="main-content">
  <div class="service-section">
    <h1>Unsere Services</h1>
    <div class="service">
      <h2>AN und VERKAUF von Fahrzeugen</h2>
      <p>Wir sind Ihr vertrauenswürdiger Partner beim An- und Verkauf von Fahrzeugen. Egal, ob Sie ein Fahrzeug kaufen oder verkaufen möchten, bei uns sind Sie an der richtigen Adresse. Wir bieten eine große Auswahl an hochwertigen Fahrzeugen zu fairen Preisen und garantieren Ihnen eine transparente und reibungslose Abwicklung.</p>
    </div>
    <div class="service">
      <h2>Finanzierung & Leasing möglich</h2>
      <p>Damit Ihr Traumfahrzeug für Sie erschwinglich wird, bieten wir flexible Finanzierungs- und Leasingoptionen an. Unser erfahrenes Team hilft Ihnen dabei, die beste Lösung für Ihre individuellen Bedürfnisse zu finden. Genießen Sie finanzielle Freiheit und Flexibilität bei der Anschaffung Ihres neuen Fahrzeugs.</p>
    </div>
    <div class="service">
      <h2>Garantie & Service für Fahrzeuge</h2>
      <p>Kundenzufriedenheit steht bei uns an erster Stelle. Deshalb bieten wir umfassende Garantie- und Serviceleistungen für alle unsere Fahrzeuge an. Unser qualifiziertes Serviceteam sorgt dafür, dass Ihr Fahrzeug stets in einwandfreiem Zustand bleibt und eventuelle Probleme schnell und professionell behoben werden.</p>
    </div>
    <div class="service">
      <h2>Gratisservice für alle unsere Fahrzeuge</h2>
      <p>Als besonderen Service bieten wir einen kostenlosen Service für alle unsere Fahrzeuge an. Dieser beinhaltet regelmäßige Inspektionen, Wartungen und kleinere Reparaturen. So können Sie sicher sein, dass Ihr Fahrzeug immer bestens gewartet ist und Sie sorgenfrei unterwegs sind.</p>
    </div>
  </div>
</main>
