<header id="header" class="header">
    <nav class="navbar navbar-expand-lg navbar-light border-top p-3">
      <div class="container">
        <a class="navbar-brand fs-4 fw-bold" href="/home">
          <img src="assets/logo_PremiumCars-removebg-preview.png" alt="Logo" height="150px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-center">
            <li class="nav-item">
              <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about-us">Über uns</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/service">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Kontakt</a>
            </li>
            <li class="nav-item d-flex align-items-center">
              <a class="nav-link p-0 mx-2" href="https://www.instagram.com/premiumcars_gmbh/" target="_blank" aria-label="Instagram">
                <i class="fab fa-instagram"></i>
              </a>
              <a class="nav-link p-0 mx-2" href="https://www.tiktok.com/@premiumcars_gmbh" target="_blank" aria-label="TikTok">
                <i class="fab fa-tiktok"></i>
              </a>
              <!-- <a class="nav-link p-0 mx-2" href="#" data-bs-toggle="modal" data-bs-target="#whatsappModal" aria-label="WhatsApp">
                <i class="fab fa-whatsapp"></i>
              </a> -->
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  