<app-header></app-header>

<div class="outer-container">
    <div class="rechtliche-hinweise-container">
      <h1>Rechtliche Hinweise</h1>
  
      <div class="section">
        <h2>1. Haftung für Inhalte</h2>
        <p>Wir übernehmen keine Gewähr für die Aktualität, Vollständigkeit oder Qualität der bereitgestellten Informationen.</p>
      </div>
  
      <div class="section">
        <h2>2. Haftung für Links</h2>
        <p>Unser Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich.</p>
      </div>
  
      <div class="section">
        <h2>3. Urheberrecht</h2>
        <p>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht.</p>
      </div>
  
      <div class="section">
        <h2>4. Datenschutz</h2>
        <p>Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Sofern auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder E-Mail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis.</p>
      </div>
  
      <div class="section">
        <h2>5. Rechtswirksamkeit dieses Haftungsausschlusses</h2>
        <p>Dieser Haftungsausschluss ist als Teil des Internetangebotes zu betrachten, von dem aus auf diese Seite verwiesen wurde. Sofern Teile oder einzelne Formulierungen dieses Textes der geltenden Rechtslage nicht, nicht mehr oder nicht vollständig entsprechen sollten, bleiben die übrigen Teile des Dokumentes in ihrem Inhalt und ihrer Gültigkeit davon unberührt.</p>
      </div>
    </div>
  </div>
  